@model List<Web_SmartPhone.Common.Product_Cart_Session>

<a href="~/Home/Show_Cart"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ @Model.Count() ] Sản phẩm trong giỏ </span> </a>
